@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

@layer base {
  body {
    @apply font-sans; /* Tailwind default sans-serif */
    font-family: 'Inter', sans-serif; /* Override with Roboto */
  }
}

.aos-animate.opacity-75 {
  opacity: 0.75 !important;
}
.opacity-80{
  opacity: 0.75 !important
}
